@model IEnumerable<HR.Models.Registration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; font-weight:700; color:#1a2b3c; background-color:#dceeff; padding:20px; border-radius:10px; box-shadow: 0px 4px 12px rgba(0,0,0,0.15);">
    User registration
</h2>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", style = "padding: 10px 20px; font-weight: 600; border-radius: 6px; box-shadow: 0px 4px 10px rgba(0,0,0,0.1);" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
